<main>
  <div class="container">
    <div class="row">
      <%= render 'users/user', user: @user, categories: @categories, category: @category %>
      <div class="col-sm-9">
        <h2>New FavðŸŒŸ</h2>
        <div class="offset-sm-1 mx-auto">
          <form>
            <%= form_with model: @spot, local:true do |f| %>
              <div class="form_group row">
                <%= f.label :title, class:'col-sm-2 col-form-label' %>
                <div class="col-sm-9">
                  <%= f.text_field :title, class:'form-control' %>
                </div>
              </div>
              <div class="form_group row">
                <%= f.label :caption, class:'col-sm-2 col-form-label' %>
                <div class="col-sm-9">
                  <%= f.text_area :caption, class:'form-control' %>
                </div>
              </div>
              <div class="form_group row offset-sm-2">
                <div class="col-sm-9 ">
                  <%= f.attachment_field :image %>
                </div>
              </div>
              <div class="form_group row">
                <%= f.label :address, class:'col-sm-2 col-form-label' %>
                <div class="col-sm-9">
                  <%= f.text_field :address, class:'form-control' %>
                </div>
              </div>
              <%= render 'spots/map' %>
              <div class="row">
              <%= f.label :rate, class:'col-sm-2 col-form-label' %>
               <div class="col-sm-9" id="star">
                <%= f.hidden_field :rate %>
               </div>
              </div>
              <div class="form_group row">
                <%= f.label :category, class:'col-sm-2 col-form-label' %>
                <div class="col-sm-9">
                  <%= f.collection_select :category_id, current_user.categories, :id, :name, {prompt: "--é¸æŠžã—ã¦ãã ã•ã„--"}, { class:'form-control', required: true} %>
                </div>
              </div>


              <div class="form_group">
                <%= f.submit 'ç™»éŒ²', class:'btn btn-outline-dark' %>
              </div>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
  $('#star').empty();
  $('#star').raty({
    size :36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'spot[rate]',
    half: true,
  });
 </script>
</main>


