<!DOCTYPE html>
<html>
  <head>
    <title>My FavðŸŒŸ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=devise-width, initial-scale=1, maximum-scale=1" >

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-lignt">
        <div class="container">
          <%= link_to root_path, class:'navbar-brand' do %>
          <span>My FavðŸŒŸ</span>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <!--ãƒ­ã‚°ã‚¤ãƒ³çŠ¶æ…‹-->
              <% if user_signed_in? %>
                <!--ãƒ¦ãƒ¼ã‚¶ãƒ¼æ¤œç´¢ãƒãƒ¼-->
                <li class="mt-3">
                  <%= form_tag(search_path, method: :get) do %>
                    <%= text_field_tag 'content' %>
                    <%= submit_tag 'æ¤œç´¢' %>
                  <% end %>
                </li>
                <li><%= link_to 'ãƒžã‚¤ãƒšãƒ¼ã‚¸', user_path(current_user.id), class:'nav-link btn btn-outline-dark m-1' %></li>
                <li><%= link_to 'ãƒžãƒƒãƒ—',user_map_index_path(current_user.id), class:'nav-link btn btn-outline-dark m-1' %></li>
                <li><%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', destroy_user_session_path, method: :delete, class:'nav-link btn btn-outline-dark m-1' %></li>
              <!--ãƒ­ã‚°ã‚¤ãƒ³å‰-->
              <% else %>
                <li><%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', new_user_session_path, class:'nav-link btn btn-outline-dark m-1' %></li>
                <li><%= link_to 'æ–°è¦ç™»éŒ²', new_user_registration_path, class:'nav-link btn btn-outline-dark m-1' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>

    <footer class="bg-dark">
      <div class="container py-3">
        <div class="row">
          <div class="mx-auto">
            <p class="m-0">ãƒ•ãƒƒã‚¿ãƒ¼</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
  <script src="assets/jquery.raty.js"></script>
</html>
